{% extends 'themes/default/base.layout.html.twig' %}

{% block title %}User verify{% endblock %}

{% block content %}

<h1 class="mb-4">User verify</h1>

{{ form_start(verifyForm) }}
{{ form_row(verifyForm.email, {
    'label': 'Email',
}) }}
<small class="mt-3">
    Your email should be verified. Please check your email for the verification link.
</small>

<div class="mt-3">
    <button class="btn btn-lg btn-primary w-50" type="submit">{{ 'button.verify'|trans }}</button>
    <a class="btn btn-lg btn-outline-secondary float-end" href="{{ path('default') }}">{{ 'button.cancel'|trans }}</a>
</div>

{{ form_end(verifyForm) }}

{% endblock %}
